<ul class="static-nav-item{% if aboutUs.url == url %} aboutuslist-item-active{% endif %}">
{% for aboutUs in aboutuslist | reverse %}
  {% set currentAboutUs = aboutUs.data.aboutUs %}
  <a href="{{ aboutUs.url | url }}" class="static-content-link">
      <li class="content-box">
      {% if currentAboutUs.title %}<h3 class="content-box-title">{{ currentAboutUs.title }}</h3>{% else %}<code>{{ aboutUs.url }}</code>{% endif %}
      <img src="{{ currentAboutUs.imageUrl }}?rect=0,0,400,300" class="thumbnail"/>
    </li>
  </a>
{% endfor %}
</ul>
