<ol reversed class="static-nav-item{% if aboutAardschap.url == url %} aboutaardschaplist-item-active{% endif %}">
{% for aboutAardschap in aboutaardschaplist %}
  {% set currentAboutAardschap = aboutAardschap.data.aboutAardschap %}
  <a href="{{ aboutAardschap.url | url }}" class="static-content-link">
      <li class="content-box">
      {% if currentAboutAardschap.title %}<h3 class="content-box-title">{{ currentAboutAardschap.title }}</h3>{% else %}<code>{{ aboutAardschap.url }}</code>{% endif %}
      <img src="{{ currentAboutAardschap.imageUrl }}?rect=0,0,400,300" class="thumbnail"/>
    </li>
  </a>
{% endfor %}
</ol>
