<ul class="static-nav-item{% if aboutUs.url == url %} aboutuslist-item-active{% endif %}">
{% for aboutUs in aboutuslist | reverse %}
  {% set currentAboutUs = aboutUs.data.aboutUs %}
  <a href="{{ aboutUs.url | url }}" class="static-content-link">
      <li class="content-box">
      <img src="{{ currentAboutUs.imageUrl }}" class="thumbnail"/>
        {% if currentAboutUs.title %}{{ currentAboutUs.title }}{% else %}<code>{{ aboutUs.url }}</code>{% endif %}
    </li>
  </a>
{% endfor %}
</ul>
