  <ul class="static-nav-item{% if article.url == url %} articlelist-item-active{% endif %}">
{% for article in articlelist | reverse %}
  {% set currentArticle = article.data.article %}
  <a href="{{ article.url | url }}" class="static-content-link">
      <li class="content-box">
      <img src="{{ currentArticle.imageUrl }}" class="thumbnail"/>
        {% if currentArticle.title %}{{ currentArticle.title }}{% else %}<code>{{ article.url }}</code>{% endif %}
    </li>
    </a>
{% endfor %}
  </ul>
