  <ul class="static-nav-item{% if article.url == url %} articlelist-item-active{% endif %}">
{% for article in articlelist | reverse %}
  {% set currentArticle = article.data.article %}
  <a href="{{ article.url | url }}" class="static-content-link">
      <li class="content-box">
      {% if currentArticle.title %}<h3 class="content-box-title">{{ currentArticle.title }}</h3>{% else %}<code>{{ article.url }}</code>{% endif %}
      <img src="{{ currentArticle.imageUrl }}?rect=0,0,400,300" class="thumbnail"/>
    </li>
    </a>
{% endfor %}
  </ul>
