<ol reversed class="static-nav-item{% if behindTheScenes.url == url %} behindthecceneslist-item-active{% endif %} content-navigation">
{% for behindTheScenes in behindthesceneslist | reverse %}
  {% set currentBehindTheScenes = behindTheScenes.data.behindTheScenes %}
  <a href="{{ behindTheScenes.url | url }}" class="static-content-link">
      <li class="content-box">
      {% if currentBehindTheScenes.title %}<h3 class="content-box-title">{{ currentBehindTheScenes.title }}</h3>{% else %}<code>{{ behindTheScenes.url }}</code>{% endif %}
      <time class="postlist-date" datetime="{{ currentBehindTheScenes.publishedAt }}"></time>
    </li>
    </a>
{% endfor %}
</ol>
