  <ul class="static-nav-item{% if justiceInspiration.url == url %} justiceinspirationlist-item-active{% endif %}">
{% for justiceInspiration in justiceinspirationlist %}
  {% set currentJusticeInspiration = justiceInspiration.data.justiceInspiration %}
    <a href="{{ justiceInspiration.url | url }}" class="static-content-link">
      <li class="content-box">
      {% if currentJusticeInspiration.title %}<h3 class="content-box-title">{{ currentJusticeInspiration.title }}</h3>
      {% else %}<code>{{ justiceInspiration.url }}</code>{% endif %}
      <img src="{{ currentJusticeInspiration.imageUrl }}?rect=0,0,400,300" class="thumbnail"/>
    </li>
    </a>
{% endfor %}
  </ul>
