<ol reversed class="static-nav-item{% if partnersInJustice.url == url %} partnersinjusticelist-item-active{% endif %} content-navigation">
{% for partnersInJustice in partnersinjusticelist %}
  {% set currentPartnersInJustice = partnersInJustice.data.partnersInJustice %}
  <a href="{{ partnersInJustice.url | url }}" class="static-content-link">
    <li class="content-box">
      {% if currentPartnersInJustice.title %}<h3 class="content-box-title">{{ currentPartnersInJustice.title }}</h3>
      {% else %}<code>{{ partnersInJustice.url }}</code>{% endif %}
      <time class="postlist-date" datetime="{{ currentPartnersInJustice.publishedAt }}"></time>
    </li>
  </a>
{% endfor %}
</ol>
