<ol reversed class="projectdetailslist" style="counter-reset: start-from {{ projectdetailslist.length + 1 }}">
{% for projectDetail in projectdetailslist | reverse %}
  {% set currentProjectDetail = projectDetail.data.projectDetail %}
  <li class="projectdetailslist-item{% if projectDetail.url == url %} projectdetailslist-item-active{% endif %}">
    <a href="{{ projectDetail.url | url }}" class="projectdetailslist-link">{% if currentProjectDetail.title %}{{ currentProjectDetail.title }}{% else %}<code>{{ projectDetail.url }}</code>{% endif %}</a>
    <time class="projectdetailslist-date" datetime="{{ currentProjectDetail.publishedAt }}">{{ currentProjectDetail.publishedAt|readableDate }}</time>
  </li>
{% endfor %}
</ol>
