  <ul class="static-nav-item{% if projectBackground.url == url %} projectbackgroundlist-item-active{% endif %}">
{% for projectBackground in projectbackgroundlist | reverse %}
  {% set currentProjectBackground = projectBackground.data.projectBackground %}
  <a href="{{ projectBackground.url | url }}" class="static-content-link">
      <li class="content-box">
      <img src="{{ currentProjectBackground.imageUrl }}" class="thumbnail"/>
        {% if currentProjectBackground.title %}{{ currentProjectBackground.title }}{% else %}<code>{{ projectBackground.url }}</code>{% endif %}
    </li>
    </a>
{% endfor %}
  </ul>
