  <ul class="static-nav-item{% if projectBackground.url == url %} projectbackgroundlist-item-active{% endif %}">
{% for projectBackground in projectbackgroundlist | reverse %}
  {% set currentProjectBackground = projectBackground.data.projectBackground %}
  <a href="{{ projectBackground.url | url }}" class="static-content-link">
      <li class="content-box">
      {% if currentProjectBackground.title %}<h3 class="content-box-title">{{ currentProjectBackground.title }}</h3>{% else %}<code>{{ projectBackground.url }}</code>{% endif %}
      <img src="{{ currentProjectBackground.imageUrl }}?rect=0,0,400,300" class="thumbnail"/>
    </li>
    </a>
{% endfor %}
  </ul>
