* { box-sizing: border-box; }

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  font-weight: lighter;
  color: #008751;
}

h1 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

a {
  color: #008751;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

.header-container {
  position: sticky;
  top: 0;
}

header {
  border-bottom: 1px solid #008751;
  height: 50px;
  background-color: white;
  top: 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.title a {
  text-decoration: none;
  text-transform: uppercase;
}

.header-item {
  display: inline-block;
  border-right: 1px solid #008751;
  text-align: center;
  height: 100%;
  padding-top: 13px;
}

.title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.tagline {
  grid-column-start: 3;
  grid-column-end: 9;
}

#homeimage-container {
  position: sticky;
  top: 50px;
  left: 14vw;
  width: 70vw;
  height: calc(100vh - 100px);
}

img#myimage {
  width: 100%;
}

.img-magnifier-glass {
  position: absolute;
  border-radius: 50%;
  cursor: none;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.content-menu {
  border-top: 1px solid #008751;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: sticky;
  height: calc(100vh - 49px);
}

.content-menu-fixed {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: sticky;
  top: 50px;
  background-color: white;
  border-right: 1px solid #008751;
}

.content-menu-fixed a {
  text-decoration: none;
}

.column-header {
  border-bottom: 1px dashed #008751;
  height: 50px;
  padding-top: 13px;
}

.column-header-fixed {
  border-bottom: 1px solid #008751;
  border-right: 1px solid #008751;
  height: 50px;
  padding-top: 13px;
  text-align: center;
}

.active-menu-item {
  border-bottom: 1px dashed #008751;
}

.content-column {
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #008751;
  overflow: scroll;
}

img.thumbnail {
  max-width: 100%;
}

.content-column h3 {
  text-align: center;
}

.content-column ul {
  list-style: none;
  padding: 0px 15px;
  margin-top: 0px;
}

.content-column li {
  padding: 15px 0px;
}

.content-column a {
    text-decoration: none;
}

.content-box {
  border-bottom: 1px dashed #008751;
}

h3.content-box-title {
  padding-bottom: 15px;
  text-align: left;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: sticky;
  top: 100px;
  height: calc(100vh - 100px);
}

.subnav {
  grid-column-start: 1;
  grid-column-end: 3;
  border-right: 1px solid #008751;
  position: sticky;
  top: 50px;
}

.content-navigation {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.content-navigation li {
  padding: 15px 10px;
  border-bottom: 1px dashed #008751;
}

.content-navigation a {
  text-decoration: none;
}

.static-content-container {
  grid-column-start: 3;
  grid-column-end: 9;
  border-right: 1px solid #008751;
  padding: 20px;
  overflow: scroll;
}

.cover-image {
  margin-bottom: 20px;
  width: 100%;
}

.static-content-container p {
  margin-bottom: 10px;
}

.static-content-container h1 {
  margin-bottom: 10px;
}
