* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier Prime', monospace;
}

h1 {
  font-size: 18px;
  margin: 0px;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

p {
  font-size: 18px;
  font-weight: normal;
}

a {
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

a:visited {
  color: #000;
}

header {
  margin: 20px;
}

.navigation {
  display: inline-block;
}

.nav {
  list-style: none;
  padding-left: 0;
  margin-top: 0
}

.nav-item {
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 15px;
}

.nav-item a {
  color: #000;
  text-decoration: none;
}

.header-item {
  display: inline-block;
  border: 1px solid #000;
}

.header-item h1 {
  margin: 0;
  padding: 15px;
}

.header-item h2 {
  padding: 15px;
  margin: 0;
}

.intro img {
  max-width: 40%;
  display: inline-block;
  margin-right: 20px;
}

.intro p {
  display: inline-block;
}

.container {
  margin: 20px;
}

.section-title {
  border: 1px solid #000;
  width: auto;
  display: inline-block;
  margin-bottom: 10px;
}

.section-title h1 {
  margin: 0;
  padding: 15px;
}

.section-content {
  margin-bottom: 30px;
}

.subnav {
  display: inline-block;
  vertical-align: top;
}

.static-content-title {
  list-style: none;
  border: 1px solid #000;
  padding: 15px;
  margin-bottom: -1px;
}

.static-content-nav {
  display: inline-block;
  padding-left: 0px;
  margin-top: 0px;
}

.static-nav-item {
  border: 1px solid #000;
  list-style: none;
  padding: 15px;
  margin-bottom: -1px;
}

.static-nav-item a {
  padding: 15px;
}

.static-container {
  margin: 20px;
}

.static-content-container {
  display: inline-block;
  border: 1px solid #000;
  margin-left: 0px;
  padding: 15px;
}

table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

tr {
  border: 1px solid #000;
}

td {
  padding: 20px;
}

/* GRID SYSTEM */

.grid-one {
  max-width: 30%;
}
.grid-two {
  max-width: 60%;
}
