
{% for teamDetail in teamdetailslist | reverse %}
  {% set currentTeamDetail = teamDetail.data.teamDetail %}
  <tr class="static-nav-item{% if teamDetail.url == url %} teamdetailslist-item-active{% endif %}">
    <td><a href="{{ teamDetail.url | url }}" class="static-content-link">{% if currentTeamDetail.title %}{{ currentTeamDetail.title }}{% else %}<code>{{ teamDetail.url }}</code>{% endif %}&rarr;</a></td>
  </tr>
{% endfor %}
