---
layout: layouts/base.njk
templateClass: tmpl-aboutAardschap
---
<div class="content-menu-fixed">
  <a href="/theproject/an-informal-justice-court-in-prison/">
  <div class="column-header-fixed">
    <h3>THE PROJECT</h3>
  </div>
  </a>
<a href="/pretrialproblem/a-serious-problem/">
<div class="column-header-fixed">
  <h3>PRE-TRIAL PROBLEM</h3>
</div>
</a>
<a href="/behindthescenes/latest-news/">
<div class="column-header-fixed">
  <h3>BEHIND THE SCENES</h3>
</div>
</a>
<a href="/partnersinjustice/inmates-protagonists/">
<div class="column-header-fixed">
  <h3>PARTNERS IN JUSTICE</h3>
</div>
</a>
<div class="column-header-fixed  active-menu-item">
  <h3>ABOUT AARDSCHAP</h3>
</div>
</div>
<div class="content-container">
<div class="mobile-article-category">
  <p>ABOUT AARDSCHAP</p>
</div>
<div class="subnav contentNav">
    {% set aboutaardschaplist = collections.about %}
    {% include "aboutaardschaplist.njk" %}
</div>
  <div class="static-content-container grid-two">
    <h1>{{ aboutAardschap.title }}</h1>
    <h2>{{ aboutAardschap.subtitle }}</h2>
    <img src="{{ aboutAardschap.imageUrl }}" class="cover-image" />
    {{ aboutAardschap.body | markdownify | safe }}
  </div>
  <div id="mobile-related-content">
    <p class="relatedContentTitle">related content</p>
    <ul class="related-list">
    {% for aboutAardschap in collections.about %}
    {% set currentAboutAardschap = aboutUs.data.aboutAardschap %}
    <a href="{{ aboutAardschap.url | url }}">
      <li>
        <p class="mobileNavTitle">{{ currentAboutAardschap.title }}</p>
        <img src="{{ currentAboutAardschap.imageUrl | url }}" class="mobileNavImage" />
      </li>
    </a>
    {% endfor %}
    </ul>
  </div>
</div>
<div id="mobile-content-menu" onclick="showDiv();" style="bottom:0;">

  <ul id="showDiv" style="display:none;">
    <li class="list-item"><a href="/theproject/an-informal-justice-court-in-prison/">THE PROJECT</a></li>
    <li class="list-item"><a href="/pretrialproblem/a-serious-problem/">Pre-trial Problem</a></li>
    <li class="list-item"><a href="/behindthescenes/latest-news/">Behind The Scenes</a></li>
    <li class="list-item"><a href="/partnersinjustice/inmates-protagonists/">Partners In Justice</a></li>
    <li class="list-item"><a href="/aboutaardschap/about-us/">About Aardschap</a></li>
  </ul>
</div>
