---
layout: layouts/base.njk
templateClass: tmpl-article
---
  <div class="content-menu-fixed">
  <a href="/pretrialproblem">
  <div class="column-header-fixed">
    <h3>PRETRIAL PROBLEM</h3>
  </div>
  </a>
<a href="/projectbackground">
<div class="column-header-fixed">
  <h3>PROJECT BACKGROUND</h3>
</div>
</a>
<a href="/justiceinspiration">
<div class="column-header-fixed">
  <h3>JUSTICE INSPIRATION</h3>
</div>
</a>
<div class="column-header-fixed active-menu-item">
  <h3>RESULTS</h3>
</div>
<a href="/aboutus">
<div class="column-header-fixed">
  <h3>ABOUT US</h3>
</div>
</a>
  </div>
<div class="content-container">
<div class="mobile-article-category">
  <p>RESULTS</p>
</div>
<div class="static-content-container grid-two">
  <h1>{{ article.title }}</h1>
  <img src="{{ article.imageUrl }}" class="cover-image" />
  <h2 class="article-subtitle">{{ article.subtitle }}</h2>
  {{ article.body | markdownify | safe }}
</div>
<div class="mobile-content-menu">
  <p>menu</p>
</div>
