---
layout: layouts/base.njk
templateClass: tmpl-article
---
<div class="content-container">
  <div class="subnav">
    <ul class="content-navigation">
    {% for article in collections.theArticle %}
    {% set currentArticle = article.data.article %}
      <li><a href="{{ currentArticle.url | url }}">{{ currentArticle.title }}</a></li>
    {% endfor %}
</div>
<div class="static-content-container grid-two">
  <h1>{{ article.title }}</h1>
  {{ article.body | markdownify | safe }}
  <p><a href="{{ '/' | url }}">← Home</a></p>
</div>
