<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <div id="header-container">
      <header>
        <div class="title header-item">
          <h1><a href="{{ '/' | url }}#back-home-button">{{ metadata.title }}</a></h1>
        </div>
        <div class="tagline header-item">
          <h2>{{ metadata.tagline }}</h2>
        </div>
        <div class="contact header-item">
          <ol class="social-links">
            <li>
              <a href="https://www.instagram.com/informaljusticecourt/"><img src="/assets/instagram.png" alt="instagram"></a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=hD6WFokhn2Q&list=PLKfy6UPifuIPus-nxl0If08M2Vxp8bAwn"><img src="/assets/youtube.png" alt="youtube"></a>
            </li>
          </ol>
        </div>
      </header>
    </div>
      <div class="main">
        {{ content | safe }}
      </div>
    </script>
    {% set js %}
      {% include "script.js" %}
    {% endset %}
    <script>
      {{ js | safe }}
    </script>
  </body>
</html>
