<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    {% set js %}
      {% include "script.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </head>
  <body>
    <div class="header-container">
      <header>
        <div class="title header-item">
          <h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        </div>
        <div class="tagline header-item">
          <h2>{{ metadata.tagline }}</h2>
        </div>
        <div id="time" class="header-item">
          <iframe src="https://freesecure.timeanddate.com/clock/i7asqe3c/n125/fn8/fc008751/th1" frameborder="0" width="70" height="18"></iframe>
        </div>
        <div class="weather header-item">
          ☀
        </div>
      </header>
      <div class="mobile-navigation header-item">
        <p onclick="openMenu()" class="menu-button">menu</p>
        <ul id="mobile-menu" class="mobile-nav">
          <li class="mobile-tagline"><p>{{ metadata.tagline }}</p></li>
          <li><a href="/projectbackground">Project Background</a></li>
          <li><a href="/pretrialproblem">Pretrial Problem</a></li>
          <li><a href="/justiceinspiration">Inspiration</a></li>
          <li><a href="/article">Results</a></li>
          <li><a href="/aboutus">About Us</a></li>
        </ul>
      </div>
    </div>
      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
      </main>
  </body>
</html>
