<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    {% set js %}
      {% include "script.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>

  </head>
  <body>
    <div id="header-container">
      <header>
        <div class="title header-item">
          <h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        </div>
        <div class="tagline header-item">
          <h2>{{ metadata.tagline }}</h2>
        </div>
        <div class="contact header-item">
          <a href="#">Contact Us</a>
        </div>
      </header>
    </div>
      <div{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
      </div>
  </body>
</html>
