---
layout: layouts/base.njk
templateClass: tmpl-behindTheScenes
---
  <div class="content-menu-fixed">
  <a href="/theproject/an-informal-justice-court-in-prison/">
  <div class="column-header-fixed">
    <h3>THE PROJECT</h3>
  </div>
  </a>
<a href="/pretrialproblem/a-serious-problem/">
<div class="column-header-fixed">
  <h3>PRE-TRIAL PROBLEM</h3>
</div>
</a>
<div class="column-header-fixed active-menu-item">
  <h3>BEHIND THE SCENES</h3>
</div>
<a href="/partnersinjustice/inmates-protagonists/">
<div class="column-header-fixed">
  <h3>PARTNERS IN JUSTICE</h3>
</div>
</a>
<a href="/aboutaardschap/about-us/">
<div class="column-header-fixed">
  <h3>ABOUT AARDSCHAP</h3>
</div>
</a>
  </div>
<div class="content-container">
  <div class="mobile-article-category">
    <p>BEHIND THE SCENES</p>
  </div>
<div class="subnav contentNav">
    {% set behindthesceneslist = collections.bts %}
    {% include "behindthesceneslist.njk" %}
</div>
<div class="static-content-container grid-two {{ behindTheScenes.title }}">
  <h1>{{ behindTheScenes.title }}</h1>
  <img src="{{ behindTheScenes.imageUrl }}" class="cover-image" />
  <h2 class="behindTheScenes-subtitle">{{ behindTheScenes.subtitle }}</h2>
  {{ behindTheScenes.body | markdownify | safe }}
</div>
<div id="mobile-related-content">
  <p class="relatedContentTitle">More Behind the Scenes</p>
  <ul class="related-list">
  {% for behindTheScenes in collections.bts | reverse %}
  {% set currentBehindTheScenes = behindTheScenes.data.behindTheScenes %}
  <a href="{{ behindTheScenes.url | url }}">
    <li>
      <p class="mobileNavTitle">{{ currentBehindTheScenes.title }}</p>
    </li>
  </a>
  {% endfor %}
  </ul>
</div>
</div>
<div id="mobile-content-menu" onclick="showDiv();" style="bottom:0;">
  <p>menu</p>
  <ul id="showDiv" style="display:none;">
    <li class="list-item"><a href="/theproject/an-informal-justice-court-in-prison/">THE PROJECT</a></li>
    <li class="list-item"><a href="/pretrialproblem/a-serious-problem/">Pre-trial Problem</a></li>
    <li class="list-item"><a href="/behindthescenes/latest-news/">Behind The Scenes</a></li>
    <li class="list-item"><a href="/partnersinjustice/inmates-protagonists/">Partners In Justice</a></li>
    <li class="list-item"><a href="/aboutaardschap/about-us/">About Aardschap</a></li>
  </ul>
</div>
