<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>

  </head>
  <body>

    <div id="splash-page">
      <div class="script-container">
        <span id="splashText"></span>
      </div>
      <div class="skip-button">
        <a href="#header-container">
          <img src="/assets/skip.png"  />
        </a>
      </div>
    </div>

    <div id="header-container">
      <header>
        <div class="title header-item">
          <h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        </div>
        <div class="tagline header-item">
          <h2>{{ metadata.tagline }}</h2>
        </div>
        <div class="contact header-item">
          <a href="#">Contact Us</a>
        </div>
      </header>

      <div class="carousel-container">
        <ul class="carousel-slide">
          <li class="item">
            <img src="{{ carousel.carouselOneImage }}" />
            <p class="carousel-item-excerpt">{{ carousel.carouselItemOne.excerpt }}</p>
            <a class="carousel-item-link" href="/{{ carousel.carouselItemOne._type }}/{{ carousel.carouselItemOne.slug.current }}">Read more</a>
          </li>
          <li class="item">
            <img src="{{ carousel.carouselTwoImage }}" />
            <p class="carousel-item-excerpt">{{ carousel.carouselItemTwo.excerpt }}</p>
            <a class="carousel-item-link" href="/{{ carousel.carouselItemTwo._type }}/{{ carousel.carouselItemTwo.slug.current }}">Read more</a>
          </li>
          <li class="item">
            <img src="{{ carousel.carouselThreeImage }}" />
            <p class="carousel-item-excerpt">{{ carousel.carouselItemThree.excerpt }}</p>
            <a class="carousel-item-link" href="/{{ carousel.carouselItemThree._type }}/{{ carousel.carouselItemThree.slug.current }}">Read more</a>
          </li>
          <li class="item">
            <img src="{{ carousel.carouselFourImage }}" />
            <p class="carousel-item-excerpt">{{ carousel.carouselItemFour.excerpt }}</p>
            <a class="carousel-item-link" href="/{{ carousel.carouselItemFour._type }}/{{ carousel.carouselItemFour.slug.current }}">Read more</a>
          </li>
          <li class="item">
            <img src="{{ carousel.carouselFiveImage }}" />
            <p class="carousel-item-excerpt">{{ carousel.carouselItemFive.excerpt }}</p>
            <a class="carousel-item-link" href="/{{ carousel.carouselItemFive._type }}/{{ carousel.carouselItemFive.slug.current }}">Read more</a>
          </li>
        </ul>

        <div id="prevBtn"></div>
        <div id="nextBtn"></div>

      </div>
    </div>
    <div class="mobile-home-space">
      <div class="mobile-space-container">
        <p>{{ metadata.tagline }}</p>
      </div>
    </div>
      <div{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
      </div>

      <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>

      <script>
        new TypeIt("#splashText", {
          strings: ["<h1>ACT I</h1>", "<br /><h1>SCENE 1</h1>", "<br />SETTING: IKOYI PRISON, LAGOS, NIGERIA", "<br><br>Mega cities grow fast and so does the pressure on the justice system. Today 15 million people around the world await their trail behind bars. Often for months or even years.", "<br />How can we change this injustice?", " ", " ", " "],
          speed: 50,
          lifeLike: true,
          breakLines: true,
          waitUntilVisible: true,
          afterComplete: function(step, instance) {

            var element = document.getElementById("header-container");
            // smooth scroll to element and align it at the bottom
            element.scrollIntoView({ behavior: 'smooth', block: 'start'});

          }
        }).go();

      </script>
      {% set js %}
        {% include "script.js" %}
      {% endset %}
      <script>
        {{ js | jsmin | safe }}
      </script>
  </body>
</html>
