---
layout: layouts/base.njk
templateClass: tmpl-justiceInspiration
---
<div class="subnav grid-one">
  {% set justiceinspirationlist = collections.theJusticeInspiration %}
  {% include "justiceinspirationlist.njk" %}
</div>
<div class="static-content-container grid-two">
  <h1>{{ justiceInspiration.title }}</h1>
  {{ justiceInspiration.body | markdownify | safe }}
  <p><a href="{{ '/' | url }}">← Home</a></p>
</div>
