---
layout: layouts/base.njk
templateClass: tmpl-pretrialProblem
---
<div class="content-container">
  <div class="subnav">
    <ul class="content-navigation">
  {% for pretrialProblem in collections.thePretrialProblem %}
  {% set currentPretrialProblem = pretrialProblem.data.pretrialProblem %}
    <li><a href="{{ currentPretrialProblem.url | url }}">{{ currentPretrialProblem.title }}</a></li>
  {% endfor %}
  </ul>
  </div>
  <div class="static-content-container">
    <img src="{{ pretrialProblem.imageUrl }}" class="cover-image" />
    <h1>{{ pretrialProblem.title }}</h1>
    {{ pretrialProblem.body | markdownify | safe }}
  </div>
</div>
