---
layout: layouts/base.njk
templateClass: tmpl-pretrialProblem
---
<div class="content-menu-fixed">
<div class="column-header-fixed active-menu-item">
  <h3>PRETRIAL PROBLEM</h3>
</div>
<a href="/projectbackground">
<div class="column-header-fixed">
  <h3>PROJECT BACKGROUND</h3>
</div>
</a>
<a href="/justiceinspiration">
<div class="column-header-fixed">
  <h3>JUSTICE INSPIRATION</h3>
</div>
</a>
<a href="/article">
<div class="column-header-fixed">
  <h3>RESULTS</h3>
</div>
</a>
<a href="/aboutus">
<div class="column-header-fixed">
  <h3>ABOUT US</h3>
</div>
</a>
</div>
<div class="content-container">
  <div class="subnav mobile-subnav">
    <ul class="content-navigation">
  {% for pretrialProblem in collections.thePretrialProblem %}
  {% set currentPretrialProblem = pretrialProblem.data.pretrialProblem %}
    <li><a href="{{ pretrialProblem.url | url }}">{{ currentPretrialProblem.title }}</a></li>
  {% endfor %}
  </ul>
  </div>
  <div class="static-content-container">
    <h2>{{ pretrialProblem.title }}</h2>
    <h1>{{ pretrialProblem.subtitle }}</h1>
    <img src="{{ pretrialProblem.imageUrl }}" class="cover-image" />
    {{ pretrialProblem.body | markdownify | safe }}
  </div>
</div>
