---
layout: layouts/base.njk
templateClass: tmpl-pretrialProblem
---
<div class="content-menu-fixed">
<a href="/theproject/an-informal-justice-court-in-prison/">
<div class="column-header-fixed">
  <h3>THE PROJECT</h3>
</div>
</a>
<div class="column-header-fixed active-menu-item">
  <h3>PRE-TRIAL PROBLEM</h3>
</div>
<a href="/behindthescenes/latest-news/">
<div class="column-header-fixed">
  <h3>BEHIND THE SCENES</h3>
</div>
</a>
<a href="/partnersinjustice/inmates-protagonists/">
<div class="column-header-fixed">
  <h3>PARTNERS IN JUSTICE</h3>
</div>
</a>
<a href="/aboutaardschap/about-us/">
<div class="column-header-fixed">
  <h3>ABOUT AARDSCHAP</h3>
</div>
</a>
</div>
<div class="content-container">
<div class="mobile-article-category">
  <p>PRE-TRIAL PROBLEM</p>
</div>
<div class="subnav contentNav">
    {% set pretrialproblemlist = collections.pretrial %}
    {% include "pretrialproblemlist.njk" %}
</div>
<div class="static-content-container">
<h1>{{ pretrialProblem.title }}</h1>
<h2>{{ pretrialProblem.subtitle }} </h2>
  <img src="{{ pretrialProblem.imageUrl }}" class="cover-image" />
  {{ pretrialProblem.body | markdownify | safe }}
</div>
<div id="mobile-related-content">
  <p class="relatedContentTitle">More Pre-trial Problem</p>
  <ul class="related-list">
  {% for pretrialProblem in collections.pretrial %}
  {% set currentPretrialProblem = pretrialProblem.data.pretrialProblem %}
  <a href="{{ pretrialProblem.url | url }}">
    <li>
      <p class="mobileNavTitle">{{ currentPretrialProblem.title }}</p>
    </li>
  </a>
  {% endfor %}
  </ul>
</div>
</div>
<div id="mobile-content-menu" onclick="showDiv();" style="bottom:0;">
  <p>menu</p>
  <ul id="showDiv" style="display:none;">
    <li class="list-item"><a href="/theproject/an-informal-justice-court-in-prison/">THE PROJECT</a></li>
    <li class="list-item"><a href="/pretrialproblem/a-serious-problem/">Pre-trial Problem</a></li>
    <li class="list-item"><a href="/behindthescenes/latest-news/">Behind The Scenes</a></li>
    <li class="list-item"><a href="/partnersinjustice/inmates-protagonists/">Partners In Justice</a></li>
    <li class="list-item"><a href="/aboutaardschap/about-us/">About Aardschap</a></li>
  </ul>
</div>
