---
layout: layouts/staticContent.njk
templateClass: tmpl-projectDetail
---
<div class="subnav grid-one">
  {% set projectdetailslist = collections.myProjectDetails %}
  {% include "projectdetailslist.njk" %}
</div>
<div class="static-content-container grid-two">
  <h1>{{ projectDetail.title }}</h1>
  {{ projectDetail.body | markdownify | safe }}
  <p><a href="{{ '/' | url }}">← Home</a></p>
</div>
