---
layout: layouts/base.njk
templateClass: tmpl-projectDetail
---
<article>
  <h1>{{ projectDetail.title }}</h1>
  {{ projectDetail.body | markdownify | safe }}
  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>
