---
layout: layouts/base.njk
templateClass: tmpl-projectBackground
---
<div class="content-container">
<div class="subnav">
<ul class="content-navigation">
      {% for justiceInspiration in collections.theJusticeInspiration %}
      {% set currentJusticeInspiration = justiceInspiration.data.justiceInspiration %}
        <li><a href="{{ currentJusticeInspiration.url | url }}">{{ currentJusticeInspiration.title }}</a></li>
      {% endfor %}
      </ul>
</div>
<div class="static-content-container">
  <img src="{{ projectBackground.imageUrl }}" class="cover-image" />
  <h1>{{ projectBackground.title }}</h1>
  {{ projectBackground.body | markdownify | safe }}
</div>
