---
layout: layouts/staticContent.njk
templateClass: tmpl-teamDetail
---
  {% set teamdetailslist = collections.myTeamDetails %}
  {% include "teamdetailslist.njk" %}
<article>
  <h1>{{ teamDetail.title }}</h1>
  {{ teamDetail.body | markdownify | safe }}
  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>
