---
layout: layouts/staticContent.njk
templateClass: tmpl-teamDetail
---
<div class="subnav grid-one">
  {% set teamdetailslist = collections.myTeamDetails %}
  {% include "teamdetailslist.njk" %}
</div>
<div class="static-content-container grid-two">
  <h1>{{ teamDetail.title }}</h1>
  {{ teamDetail.body | markdownify | safe }}
  <p><a href="{{ '/' | url }}">← Home</a></p>
</div>
