---
layout: layouts/base.njk
templateClass: tmpl-theProject
---
<div class="content-menu-fixed">
  <div class="column-header-fixed active-menu-item">
    <h3>THE PROJECT</h3>
  </div>
  <a href="/pretrialproblem/a-serious-problem/">
    <div class="column-header-fixed">
      <h3>PRE-TRIAL PROBLEM</h3>
    </div>
  </a>
  <a href="/behindthescenes/latest-news/">
    <div class="column-header-fixed">
      <h3>BEHIND THE SCENE</h3>
    </div>
  </a>
    <a href="/partnersinjustice/inmates-protagonists/">
    <div class="column-header-fixed">
      <h3>PARTNERS IN JUSTICE</h3>
    </div>
  </a>
  <a href="/aboutaardschap/about-us/">
    <div class="column-header-fixed">
      <h3>ABOUT AARDSCHAP</h3>
    </div>
  </a>
</div>
<div class="content-container">
  <div class="mobile-article-category">
    <p>THE PROJECT</p>
  </div>
<div class="subnav contentNav">
    {% set theprojectlist = collections.project %}
    {% include "theprojectlist.njk" %}
</div>
  <div class="static-content-container">
    <h1>{{ theProject.title }}</h1>
    <h2>{{ theProject.subtitle }}</h2>
    <img src="{{ theProject.imageUrl }}" class="cover-image" />
    {{ theProject.body | markdownify | safe }}
  </div>
  <div id="mobile-related-content">
    <p class="relatedContentTitle">More about the Project</p>
    <ul class="related-list">
    {% for theProject in collections.project | reverse %}
    {% set currentTheProject = theProject.data.theProject %}
    <a href="{{ theProject.url | url }}">
      <li>
        <p class="mobileNavTitle">{{ currentTheProject.title }}</p>
      </li>
    </a>
    {% endfor %}
    </ul>
  </div>
</div>
<div id="mobile-content-menu" onclick="showDiv();" style="bottom:0;">
  <p>menu</p>
  <ul id="showDiv" style="display:none;">
    <li class="list-item"><a href="/theproject/informal-justice-court-in-prison/">THE PROJECT</a></li>
    <li class="list-item"><a href="/pretrialproblem/a-serious-problem/">Pre-trial Problem</a></li>
    <li class="list-item"><a href="/partnersinjustice/inmates-protagonists/">Partners In Justice</a></li>
    <li class="list-item"><a href="/behindthescenes/latest-news/">Behind The Scenes</a></li>
    <li class="list-item"><a href="/aboutaardschap/about-us/">About Aardschap</a></li>
  </ul>
</div>
