---
layout: layouts/base.njk
navtitle: About Aardschap
tags:
  - nav
permalink: /aboutAardschap/
---
<div class="content-menu-fixed">
  <a href="/informalJusticeCourt">
    <div class="column-header-fixed">
      <h3>INFORMAL JUSTICE COURT</h3>
    </div>
  </a>
  <a href="/pretrialProblem">
    <div class="column-header-fixed">
      <h3>PRE-TRIAL PROBLEM</h3>
    </div>
  </a>
  <a href="/partnersInJustice">
    <div class="column-header-fixed">
      <h3>PARTNERS IN JUSTICE</h3>
    </div>
  </a>
  <a href="/behindTheScenes">
    <div class="column-header-fixed">
      <h3>BEHIND THE SCENES</h3>
    </div>
  </a>
  <div class="column-header-fixed  active-menu-item">
    <h3>ABOUT AARDSCHAP</h3>
  </div>
</div>
<div class="content-container">
  <div class="mobile-article-category">
    <p>ABOUT AARDSCHAP</p>
  </div>
  <div class="subnav">
    {% set aboutaardschaplist = collections.theAboutAardschap %}
    {% include "aboutaardschaplist.njk" %}
  </div>
</div>
<div id="mobile-content-menu" onclick="showDiv();" style="bottom:0;">
  <p>menu</p>
  <ul id="showDiv" style="display:none;">
    <li class="list-item">
      <a href="/informalJusticeCourt">Informal Justice Court</a>
    </li>
    <li class="list-item">
      <a href="/pretrialProblem">Pre-trial Problem</a>
    </li>
    <li class="list-item">
      <a href="/partnersInJustice">Partners In Justice</a>
    </li>
    <li class="list-item">
      <a href="/behindTheScenes">Behind The Scenes</a>
    </li>
    <li class="list-item">
      <a href="/aboutaardschap">About Aardschap</a>
    </li>
  </ul>
</div>
