---
layout: layouts/aboutUs
tags:
  - theAboutUs
pagination:
  alias: aboutUs
  data: aboutUs
  size: 1
  addAllPagesToCollections: true
permalink: aboutus/{{ aboutUs.slug.current | slug }}/index.html
---
