---
layout: layouts/article
tags:
  - theArticle
pagination:
  alias: article
  data: article
  size: 1
  addAllPagesToCollections: true
permalink: article/{{ article.slug.current | slug }}/index.html
---
