---
layout: layouts/home.njk
tag: home
title: Informal Justice Court
---


  <div class="content-menu" id="homecontent">
    <div class="pretrial-problem content-column">
    <a href="/pretrialproblem" class="accordion-opener">
    <div class="column-header">
      <h3>INFORMAL JUSTICE COURT</h3>
    </div>
    </a>
    </div>
    <div class="project-background content-column">
      <a href="/projectbackground" class="accordion-opener">
    <div class="column-header">
      <h3>PRE-TRIAL PROBLEM</h3>
    </div>
    </a>
    </div>
    <div class="justice-inspiration content-column">
    <a href="/justiceinspiration" class="accordion-opener">
    <div class="column-header">
      <h3>PARTNERS IN JUSTCE</h3>
    </div>
    </a>
    </div>
    <div class="work content-column">
      <a href="/article" class="accordion-opener">
    <div class="column-header">
      <h3>BEHIND THE SCENES</h3>
    </div>
    </a>
    </div>
    <div class="about-us content-column">
      <a href="/aboutus" class="accordion-opener">
    <div class="column-header">
      <h3>ABOUT AARDSCHAP</h3>
    </div>
    </a>
    </div>
  </div>
