---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<h1>Background</h1>

{% set projectdetailslist = collections.myProjectDetails %}
{% include "projectdetailslist.njk" %}

<h1>News</h1>

{% set newsitemslist = collections.myNewsItems %}
{% include "newsitemslist.njk" %}


<h1>About Us</h1>

{% set teamdetailslist = collections.myTeamDetails %}
{% include "teamdetailslist.njk" %}
