---
layout: layouts/home.njk
title: Informal Justice Court home
tags:
  - nav
navtitle: Home
---
<div class="intro">
  <img src="{{ metadata.imageUrl | url }}"/>
  <p>{{ metadata.description }}</p>
</div>

<div class="background">
  <h1>Background</h1>
  {% set projectdetailslist = collections.myProjectDetails %}
  {% include "projectdetailslist.njk" %}
</div>

<div class="news">
  <h1>News</h1>
  {% set newsitemslist = collections.myNewsItems %}
  {% include "newsitemslist.njk" %}
</div>

<div class="about">
  <h1>About Us</h1>
  {% set teamdetailslist = collections.myTeamDetails %}
  {% include "teamdetailslist.njk" %}
</div>
