---
layout: layouts/informalJusticeCourt
tags:
  - ijc
pagination:
  alias: informalJusticeCourt
  data: informalJusticeCourts
  size: 1
  addAllPagesToCollections: true
permalink: informaljusticecourt/{{ informalJusticeCourt.slug.current | slug }}/index.html
---
