---
layout: layouts/justiceInspiration
tags:
  - theJusticeInspiration
pagination:
  alias: justiceInspiration
  data: justiceInspiration
  size: 1
  addAllPagesToCollections: true
permalink: justiceinspiration/{{ justiceInspiration.slug.current | slug }}/index.html
---
