---
layout: layouts/base.njk
navtitle: Justice Inspiration
tags:
  - nav
permalink: /justiceInspiration/
---
{% set justiceinspirationlist = collections.theJusticeInspiration %}
{% include "justiceinspirationlist.njk" %}
