---
layout: layouts/newsItem
tags:
  - myNewsItems
pagination:
  alias: newsItem
  data: newsItems
  size: 1
  addAllPagesToCollections: true
permalink: newsItems/{{ newsItem.slug.current | slug }}/index.html
---
