---
layout: layouts/base.njk
navtitle: partnersInJustice
permalink: /partnersinjustice/
---
<div class="content-menu-fixed">
  <a href="/theproject/an-informal-justice-court-in-prison/">
    <div class="column-header-fixed">
      <h3>THE PROJECT</h3>
    </div>
  </a>
  <a href="/pretrialproblem/a-serious-problem/">
    <div class="column-header-fixed">
      <h3>PRE-TRIAL PROBLEM</h3>
    </div>
  </a>
  <div class="column-header-fixed active-menu-item">
    <h3>PARTNERS IN JUSTICE</h3>
  </div>
  <a href="/behindthescenes/latest-news/">
    <div class="column-header-fixed">
      <h3>BEHIND THE SCENES</h3>
    </div>
  </a>
  <a href="/aboutaardschap/about-us/">
    <div class="column-header-fixed">
      <h3>ABOUT AARDSCHAP</h3>
    </div>
  </a>
</div>
<div class="content-container">
  <div class="mobile-article-category">
    <p>PARTNERS IN JUSTICE</p>
  </div>
  <div class="subnav">
    {% set partnersinjusticelist = collections.partners%}
    {% include "partnersinjusticelist.njk" %}
  </div>
</div>
<div id="mobile-content-menu" onclick="showDiv();" style="bottom:0;">
  <ul id="showDiv" style="display:none;">
    <li class="list-item"><a href="/theproject/an-informal-justice-court-in-prison/">THE PROJECT</a></li>
    <li class="list-item"><a href="/pretrialproblem/a-serious-problem/">Pre-trial Problem</a></li>
    <li class="list-item"><a href="/partnersinjustice/inmates-protagonists/">Partners In Justice</a></li>
    <li class="list-item"><a href="/behindthescenes/latest-news/">Behind The Scenes</a></li>
    <li class="list-item"><a href="/aboutaardschap/about-us/">About Aardschap</a></li>
  </ul>
</div>
