---
layout: layouts/partnersInJustice
tags:
  - thePartnersInJustice
pagination:
  alias: partnersInJustice
  data: partnersInJustice
  size: 1
  addAllPagesToCollections: true
permalink: partnersInJustice/{{ partnersInJustice.slug.current | slug }}/index.html
---
