---
layout: layouts/partnersInJustice
tags:
  - thePartnersInJustice
pagination:
  alias: partnersInJustice
  data: partnersInJustices
  size: 1
  addAllPagesToCollections: true
permalink: partnersinjustice/{{ partnersInJustice.slug.current | slug }}/index.html
---
