---
layout: layouts/base.njk
navtitle: Pretrial Problem
permalink: /pretrialproblem/
---
<div class="content-menu-fixed">
  <a href="/informaljusticecourt/informal-justice-court-in-prison/">
    <div class="column-header-fixed">
      <h3>INFORMAL JUSTICE COURT</h3>
    </div>
  </a>
    <div class="column-header-fixed active-menu-item">
      <h3>PRE-TRIAL PROBLEM</h3>
    </div>
  <a href="/partnersinjustice/inmates-protagonists/">
    <div class="column-header-fixed">
      <h3>PARTNERS IN JUSTICE</h3>
    </div>
  </a>
  <a href="/behindthescenes/latest-news/">
    <div class="column-header-fixed">
      <h3>BEHIND THE SCENES</h3>
    </div>
  </a>
  <a href="/aboutaardschap/about-us/">
    <div class="column-header-fixed">
      <h3>ABOUT AARDSCHAP</h3>
    </div>
  </a>
</div>
<div class="content-container">
  <div class="subnav">
    {% set pretrialproblemlist = collections.pretrial%}
    {% include "pretrialproblemlist.njk" %}
  </div>
</div>

