---
layout: layouts/pretrialProblem
tags:
  - thePretrialProblem
pagination:
  alias: pretrialProblem
  data: pretrialProblem
  size: 1
  addAllPagesToCollections: true
permalink: pretrialProblem/{{ pretrialProblem.slug.current | slug }}/index.html
---
