---
layout: layouts/pretrialProblem
tags:
  - thePretrialProblem
pagination:
  alias: pretrialProblem
  data: pretrialProblems
  size: 1
  addAllPagesToCollections: true
permalink: pretrialproblem/{{ pretrialProblem.slug.current | slug }}/index.html
---
