---
layout: layouts/base.njk
navtitle: Pretrial Problem
tags:
  - nav
permalink: /pretrialProblem/
---
{% set pretrialproblemlist = collections.thePretrialProblem %}
{% include "pretrialproblemlist.njk" %}
