---
layout: layouts/projectBackground
tags:
  - theProjectBackground
pagination:
  alias: projectBackground
  data: projectBackground
  size: 1
  addAllPagesToCollections: true
permalink: projectbackground/{{ projectBackground.slug.current | slug }}/index.html
---
