---
layout: layouts/staticContent.njk
navtitle: The Project
tags:
  - nav
permalink: /projectDetails/
---
{% set projectdetailslist = collections.myProjectDetails %}
{% include "projectdetailslist.njk" %}
