---
layout: layouts/projectDetail
tags:
  - myProjectDetails
pagination:
  alias: projectDetail
  data: projectDetail
  size: 1
  addAllPagesToCollections: true
permalink: projectDetails/{{ projectDetail.slug.current | slug }}/index.html
---
