---
layout: layouts/home.njk
navtitle: Background
tags:
  - nav
permalink: /projectDetails/
---

<h1>Project Background</h1>

{% set projectdetailslist = collections.myProjectDetails %}
{% include "projectdetailslist.njk" %}
