---
layout: layouts/home.njk
navtitle: News Item Archive
permalink: /projectInformation/
---

<h1>News Item Archive</h1>

{% set projectinformationlist = collections.myProjectInformations %}
{% include "projectinformationlist.njk" %}
