---
layout: layouts/base.njk
navtitle: Project Background
tags:
  - nav
permalink: /projectBackground/
---
{% set projectbackgroundlist = collections.theProjectBackground %}
{% include "projectbackgroundlist.njk" %}
