---
layout: layouts/projectInformation
tags:
  - myProjectInformation
pagination:
  alias: projectInformation
  data: projectInformation
  size: 1
  addAllPagesToCollections: true
permalink: projectInformation/{{ projectInformation.slug.current | slug }}/index.html
---
