---
layout: layouts/teamMember
tags:
  - myTeamMembers
pagination:
  alias: teamMember
  data: teamMembers
  size: 1
  addAllPagesToCollections: true
permalink: teammembers/{{ teamMember.name | slug }}/index.html
---
