---
layout: layouts/home.njk
navtitle: News Item Archive
permalink: /teamDetails/
---

<h1>News Item Archive</h1>

{% set teamdetailslist = collections.myTeamDetails %}
{% include "teamdetailslist.njk" %}
