---
layout: layouts/home.njk
navtitle: About Us
tags:
  - nav
permalink: /teamDetails/
---

<h1>About Us</h1>

{% set teamdetailslist = collections.myTeamDetails %}
{% include "teamdetailslist.njk" %}
