---
layout: layouts/teamDetail
tags:
  - myTeamDetails
pagination:
  alias: teamDetail
  data: teamDetail
  size: 1
  addAllPagesToCollections: true
permalink: teamDetails/{{ teamDetail.slug.current | slug }}/index.html
---
