---
layout: layouts/theProject
tags:
  - project
pagination:
  alias: theProject
  data: theProject
  size: 1
  addAllPagesToCollections: true
permalink: theproject/{{ theProject.slug.current | slug }}/index.html
---
